html{
    font-size: 62.5%;
    /* width:fit-content;
    margin:auto; */
}

body{
    font-size: 16px;
    background-image: url('/img/fondoHoy.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;  
}

.primera-seccion{
    text-align: center;
}
    
.image{
    display: flex;
    justify-content: center;
}
    
.foto{
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    height: 200px; /* Asegúrate de que la altura sea igual al ancho para un círculo perfecto */
    border-radius: 50%;
}

.date{
    font-family: 'Comics', sans-serif;
    text-align: center;
    font-size: 3rem;
}

.tittle{
    font-weight: bolder;
    font-size: 6rem;
    font-family: 'Comics', sans-serif;

}

.coment{
    font-size: 3rem;
    font-family: 'Comics', sans-serif;
}

.apartado-bau{
    padding: 5rem;
}

.boton{
    width: 12rem; /* Ajusta el tamaño según tus necesidades */
    height: 12rem; /* Asegúrate de que la altura sea igual al ancho para un círculo perfecto */
    border-radius: 50%;
}


.flechas{
    width: 8rem; /* Ajusta el tamaño según tus necesidades */
    height: 8rem; /* Asegúrate de que la altura sea igual al ancho para un círculo perfecto */
    position: absolute;
    bottom: 5rem;
    left: 10rem;
    top: 74rem;
}


.disfraz{
    display: flex;
    justify-content: center;
}

.no-olvidar{
    text-align: center;
    font-family: 'Comics', sans-serif;
    font-size: 3rem;
    margin-bottom: 0;
}

.text{
    text-align: center;
    font-family: 'Comics', sans-serif;
    font-size: 2rem;
}

hr {
    height: .5rem;
    background-color: black;
    border-color: black;
}


.map-tittle{
    text-align: center;
}

.maps{
    display: flex;
    justify-content: center;
}

.map-event1{
    width: 35rem;
    height: 35rem;
    border-radius: 2rem ;
}

.segunda-seccion{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.countdown{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    flex-wrap: wrap;
    
}

.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
}

/*  color del titulo */


.countdown-title{
    text-align: center;
    color: rgb(230, 230, 79);    
    font-size: 4rem;
}

/*  color del numero */


.number{
    display: grid;
    place-content: center;
    border: solid 1px white;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background-color: #29d9e6; /*color del fondo del contador*/
}

/*  color del texto  */

.time{ 
    display: block;
    padding: 1rem;
    text-align: center;
    color: rgb(230, 230, 79);
    font-size: 1.5rem;
    font-weight: 400;
}

.tercera-seccion{
    text-align: center;

}

#player {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: rgba(238, 76, 27, 0.651);
    color: white;
    border: none;
    border-radius: 2rem;
}

.imagen-lugar{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.place{
    width: 35rem;
    height: 35rem;
    border-radius: 2rem ;
}

.invite{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}



.boton-invite{
    text-decoration: none;
    background-color: red;
    border: none;
    box-shadow: 2rem;
    padding: 3rem;
    text-align: center;
    color: yellow;
}