html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    background: rgb(187,191,190);
    background: linear-gradient(90deg, rgba(187,191,190,1) 40%, rgba(41,217,230,1) 60%);}


.diversion-title{
    text-align: center;

}

.contenedor{
    display: flex;
    justify-content: center;
    padding: 4rem;
    width: 80%;
}

.boton{
    width: 12rem; /* Ajusta el tamaño según tus necesidades */
    height: 12rem; /* Asegúrate de que la altura sea igual al ancho para un círculo perfecto */
}


.apartado-bau{
    padding: 5rem;
    
}

.apartado-bau p{
    text-align: center;
}

.letra{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 2rem;
}
