html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    background: rgb(76,69,193);
    background: linear-gradient(90deg, rgba(76,69,193,1) 0%, rgba(9,9,121,0.7105217086834734) 48%, rgba(0,212,255,1) 100%);
}


.diversion-title{
    text-align: center;

}

.contenedor{
    display: flex;
    justify-content: center;
    padding: 4rem;
    width: 80%;
}

.boton{
    width: 12rem; /* Ajusta el tamaño según tus necesidades */
    height: 12rem; /* Asegúrate de que la altura sea igual al ancho para un círculo perfecto */
    border-radius: 50%;
}


.apartado-bau{
    padding: 5rem;
    
}

.apartado-bau p{
    text-align: center;
}

.letra{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 2rem;
}
